@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 234 31% 15%;
    --foreground: 340 67% 95%;
    --card: 234 31% 15%;
    --card-foreground: 340 67% 95%;
    --popover: 234 31% 15%;
    --popover-foreground: 340 67% 95%;
    --primary: 340 67% 80%;
    --primary-foreground: 234 31% 15%;
    --secondary: 234 31% 25%;
    --secondary-foreground: 340 67% 95%;
    --muted: 234 31% 25%;
    --muted-foreground: 340 67% 80%;
    --accent: 340 67% 80%;
    --accent-foreground: 234 31% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 234 31% 25%;
    --input: 234 31% 25%;
    --ring: 340 67% 80%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 234 31% 10%;
    --foreground: 340 67% 98%;
    --card: 234 31% 12%;
    --card-foreground: 340 67% 98%;
    --popover: 234 31% 10%;
    --popover-foreground: 340 67% 98%;
    --primary: 340 67% 85%;
    --primary-foreground: 234 31% 10%;
    --secondary: 234 31% 20%;
    --secondary-foreground: 340 67% 98%;
    --muted: 234 31% 20%;
    --muted-foreground: 340 67% 85%;
    --accent: 340 67% 85%;
    --accent-foreground: 234 31% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 234 31% 20%;
    --input: 234 31% 20%;
    --ring: 340 67% 85%;
  }
}


@layer base {
  * {
    @apply border-border antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
}